concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  push:
  pull_request:

env:
  PKGS: v1.11.0
  TOOLS: v1.11.0
  REGISTRY: autinf-registry-dev.dev.youview.co.uk
  IMAGE_PREFIX: autinf/talos-extensions

name: ci
jobs:
  ci:
    strategy:
      matrix:
        target:
          - yvrig-control
    runs-on: self-hosted
    steps:
      - name: checkout
        uses: actions/checkout@v4
      - name: Unshallow and install tools
        run: |
          git fetch --prune --unshallow
          sudo apt-get update
          sudo apt-get install -y make
      - name: "Get release tag"
        shell: bash
        id: get-release-tag
        run: |
          if git describe --tags --exact-match &>/dev/null; then
            head_is_tagged=yes
            release_tag="$(git describe --tags)"
          else
            head_is_tagged=no
            release_tag=NULL
          fi
          cat > "${GITHUB_OUTPUT}" <<-EOF
          release_tag=${release_tag}
          head_is_tagged=${head_is_tagged}
          EOF

      - name: Build locally and bypass tag validation
        if: ${{ steps.get-release-tag.outputs.head_is_tagged == 'no' }}
        run: |
          sed -i '19s/^/# /' youview/yvrig-control/pkg.yaml
          make local-${{ matrix.target }} PKGS=${{ env.PKGS }} TOOLS=${{env.TOOLS }} DEST=_out
      - name: Upload local build
        if: ${{ steps.get-release-tag.outputs.head_is_tagged == 'no' }}
        uses: actions/upload-artifact@v3
        with:
          name: 'local-build-${{ matrix.target }}'
          path: '${{ github.workspace }}/_out'
          retention-days: 5

      - name: Build and push
        if: ${{ steps.get-release-tag.outputs.head_is_tagged == 'yes' }}
        run: |
          make ${{ matrix.target }} PUSH=true REGISTRY=${{ env.REGISTRY }} USERNAME=${{ env.IMAGE_PREFIX }} PKGS=${{ env.PKGS }} TOOLS=${{ env.TOOLS }}
